<!doctype html>
<html>
<head>
<title>Smart House</title>
<link rel="stylesheet" href="/static/style.css" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div class="topnav" id="myTopnav">
	  <a class="logo" href="/">Smart Home</a>
	  <a class="nav" href="/temperature/">Temperature</a>
	  <a class="nav" href="/light/">Light</a>
	  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<h1>My Log</h1>

	<table align="center">
		<tr>
		  <td><h2><a href=/getfile/text.txt> Download log </a></h2></td>
          <td>&nbsp;&nbsp;</td>
		  <td><h2><a href="/delfile/"> Delete log </a></h2></td>
		</tr>
	  </table>


	<pre><h2>{{ content }}</h2></pre>

	<script>
	function myFunction() {
	    var x = document.getElementById("myTopnav");
	    if (x.className === "topnav") {
	        x.className += " responsive";
	    } else {
	        x.className = "topnav";
	    }
	}
	</script>

</body>
</html>

